
*.xcuserstate

*.xcbkptlist

DataLoggr.xcodeproj/xcuserdata/mpweingert.xcuserdatad/xcschemes/DataLoggr.xcscheme

DataLoggr.xcodeproj/xcuserdata/mpweingert.xcuserdatad/xcschemes/xcschememanagement.plist
